<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector PseudoElemento</title>
</head>
<style>
    p::first-letter{
        color: red;
        font-size: xx-large;
    }
    p::first-line{
        color: blue;
        font-variant: small-caps;
    }

</style>
<body>
    <p>Spueden combinar dos selectores de pseudoElemento ::first-letter y ::first-line
        para agregar efectos, por ejemplo: La primera línea y la primera letra</p>
</body>
</html>