<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector PseudoClase</title>
    <style>
        a:link{/*Link no visitado*/
            color: red;
        }
        a:visited{/*Link visitado*/
            color: green;
        }
        a:hover{/*Cursor sobre el link*/
            color: hotpink;
        }
        a:active{/*Link seleccionad*/
            color: blue;
        }
    </style>
</head>
<body>
    <p><b><a href="http://www.google.com">Google</a></b></p>
</body>
</html>