<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento OnMouseOver&Out</title>
</head>
<body>
    <div onmouseover="OnMouseOver(this);" onmouseout="OnMouseOut(this)" 
    style="background-color: red; width: 120px; height: 20px; padding: 40px;">
        Doom
    </div>

    <script type="text/javascript">
        function OnMouseOver(obj){
            obj.innerHTML = "Slayer";
        }
        function OnMouseOut(obj){
            obj.innerHTML = "Doom";
        }
    </script>
</body>
</html>